@media all{
    i[class*=fa-]{
        font-family:FontAwesome;
        font-weight:400;
        font-style:normal;
        text-decoration:inherit;
        -webkit-font-smoothing:antialiased
    }
    .fa{
        display:inline-block;
        font:normal normal normal 14px/1 FontAwesome;
        font-size:inherit;
        text-rendering:auto;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale
    }
    .fa-twitter:before{
        content:"\f099"
    }
    .fa-facebook:before{
        content:"\f09a"
    }
    .fa-linkedin:before{
        content:"\f0e1"
    }
    .fa-angle-up:before{
        content:"\f106"
    }
    body,html{
        overflow-x:hidden;
        max-width:100%
    }
    a,header#top #logo:hover{
        color:#27cfc3
    }
    #to-top,.col.center,.col.centered-text,.wpb_column.centered-text{
        text-align:center
    }
    .sf-menu a:active,.sf-menu a:focus,.sf-menu a:hover,.sf-menu li:hover,:focus{
        outline:0
    }
    .sf-menu a,a{
        text-decoration:none
    }
    #to-top,.wpb_column{
        background-position:center
    }
    a,body,div,form,h1,html,img,li,p,span,ul{
        vertical-align:baseline;
        font-family:inherit;
        font-weight:inherit;
        font-style:inherit;
        font-size:100%;
        outline:0;
        padding:0;
        margin:0;
        border:0
    }
    html{
        overflow-y:scroll
    }
    body{
        background:#1c1c1c;
        font-family:open sans,sans-serif;
        color:#676767;
        position:relative;
        font-size:14px;
        -webkit-font-smoothing:antialiased;
        font-weight:400;
        line-height:26px
    }
    #header-outer[data-permanent-transparent=false],header#top nav>ul{
        overflow:visible!important
    }
    h1,header#top #logo{
        color:#444;
        font-family:open sans;
        font-weight:600
    }
    ul{
        margin-left:30px;
        margin-bottom:30px;
        list-style:none
    }
    input[type=text]::-ms-clear{
        display:none
    }
    p:empty{
        display:none
    }
    header,nav{
        display:block
    }
    p{
        padding-bottom:27px;
        -webkit-font-smoothing:subpixel-antialiased
    }
    .container-wrap{
        background-color:#f8f8f8;
        position:relative;
        z-index:10;
        margin-top:0;
        padding-top:40px;
        padding-bottom:40px
    }
    .container-wrap .row>.wpb_row:last-child{
        margin-bottom:0!important
    }
    .wpb_row{
        margin-bottom:35px
    }
    a{
        transition:color .2s;
        -moz-transition:color .2s;
        -webkit-transition:color .2s
    }
    a:hover{
        color:inherit
    }
    h1{
        font-size:54px;
        line-height:62px;
        margin-bottom:7px;
        letter-spacing:0;
        -webkit-font-smoothing:antialiased
    }
    .container .row:last-child,.row .col p:last-child{
        padding-bottom:0
    }
    ul li{
        list-style:disc
    }
    #footer-outer ul,#header-outer nav>ul,#mobile-menu ul{
        margin:0
    }
    #footer-outer ul li,#header-outer ul li,#mobile-menu ul li{
        list-style:none
    }
    #header-space{
        height:90px;
        background-color:#fff
    }
    #header-outer{
        width:100%;
        top:0;
        left:0;
        position:fixed;
        padding:28px 0 0;
        background-color:#fff;
        z-index:9999
    }
    .admin-bar #header-outer{
        top:32px
    }
    header#top #logo{
        width:auto;
        max-width:none;
        display:block;
        line-height:22px;
        font-size:22px;
        letter-spacing:-1.5px
    }
    header#top #logo .starting-logo{
        position:absolute;
        top:0;
        opacity:0;
        left:0
    }
    #header-outer[data-transparent-header=true] header#top #logo img.stnd,header#top{
        position:relative
    }
    header#top #logo img{
        text-indent:-9999px;
        max-width:none;
        width:auto;
        margin-bottom:0;
        display:block;
        transition:opacity .4s ease
    }
    header#top{
        z-index:9998;
        width:100%
    }
    header#top .container .row{
        padding-bottom:0
    }
    header#top nav>ul{
        float:right;
        transition:padding .8s ease,margin .25s ease;
        min-height:1px;
        line-height:1px
    }
    body.ascend #header-outer[data-full-width=true]:not([data-format=left-header]) header#top nav>ul.buttons{
        margin-left:22px!important
    }
    header#top nav>ul.buttons{
        transition:padding .8s ease
    }
    #header-outer header#top nav>ul.buttons{
        right:0;
        height:100%;
        overflow:hidden!important
    }
    @media only screen and (min-width:1001px){
        #header-outer[data-full-width=true] header#top nav>ul.buttons{
            margin-left:0!important
        }
    }
    header#top nav ul li{
        float:right
    }
    header#top nav>ul>li{
        float:left
    }
    header#top nav>ul>li>a{
        padding:0 10px;
        display:block;
        color:#676767;
        font-size:12px;
        line-height:20px;
        -webkit-transition:color .1s ease;
        -moz-transition:color .1s ease;
        -o-transition:color .1s linear;
        transition:color .1s linear
    }
    #header-outer[data-lhe=animated_underline] header#top nav>ul>li>a{
        padding-left:0;
        padding-right:0;
        margin-right:10px;
        margin-left:10px;
        -webkit-transition:color .2s ease;
        -moz-transition:color .2s ease;
        -o-transition:color .2s ease;
        transition:color .2s ease
    }
    #header-outer.transparent header#top nav>ul>li[class*=button_solid_color]>a:before,header#top nav>ul>li[class*=button_solid_color]>a:before{
        background-color:#27cfc3;
        display:block;
        position:absolute;
        left:0;
        padding-bottom:10px;
        transform:translateY(-7px);
        -webkit-transform:translateY(-7px);
        -ms-transform:translateY(-7px);
        width:100%;
        height:24px;
        content:" ";
        z-index:-1;
        -webkit-transition:opacity .2s ease;
        -moz-transition:opacity .2s ease;
        -o-transition:opacity .2s ease;
        transition:opacity .2s ease
    }
    #to-top i,header#top #toggle-nav i{
        background-color:transparent!important
    }
    #header-outer.transparent header#top nav>ul>li[class*=button_solid_color]>a:hover:before,header#top nav>ul>li[class*=button_solid_color]>a:hover:before{
        opacity:.85!important
    }
    #header-outer[data-lhe=animated_underline] header#top nav>ul>li[class*=button_solid_color]>a,body #header-outer.transparent header#top nav>ul>li[class*=button_solid_color]>a,header#top nav>ul>li[class*=button_solid_color]>a{
        color:#fff!important;
        opacity:1!important;
        padding-left:20px;
        padding-right:20px;
        margin-right:10px;
        margin-left:10px
    }
    #header-outer[data-lhe=animated_underline] header#top nav>ul>li:not([class*=button_])>a:after{
        -ms-transition:-webkit-transform .3s ease-out,border-color .3s ease-out;
        -webkit-transition:-webkit-transform .3s ease-out,border-color .3s ease-out;
        transition:transform .3s ease-out,border-color .3s ease-out;
        position:absolute;
        display:block;
        bottom:-6px;
        left:0;
        width:100%;
        -ms-transform:scaleX(0);
        -webkit-transform:scaleX(0);
        transform:scaleX(0);
        border-top:2px solid #000;
        content:"";
        padding-bottom:inherit
    }
    #header-outer[data-lhe=animated_underline] header#top nav .sf-menu li.current-menu-item>a:after,#header-outer[data-lhe=animated_underline] header#top nav .sf-menu li.current_page_item>a:after,#header-outer[data-lhe=animated_underline] header#top nav>ul>li>a:hover:after{
        backface-visibility:hidden;
        -ms-transform:scaleX(1);
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
    header#top nav ul li a{
        color:#888
    }
    header#top .span_9{
        position:static!important
    }
    header#top #toggle-nav{
        position:relative;
        right:0
    }
    header#top .span_9>.slide-out-widget-area-toggle{
        display:none;
        position:absolute;
        right:0;
        top:50%;
        margin-bottom:10px;
        margin-top:-5px;
        z-index:10000;
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%)
    }
    header#top #toggle-nav i{
        color:#a9a9a9;
        line-height:34px;
        width:18px;
        transition:color .3s ease;
        -webkit-transition:color .3s ease;
        font-size:16px
    }
    @media only screen and (min-width:1001px){
        body #header-outer[data-transparent-header=true]{
            transition:background-color .3s ease,box-shadow .3s ease,margin .25s ease;
            -moz-transition:background-color .3s ease,box-shadow .3s ease,margin .25s ease;
            -webkit-transition:background-color .3s ease,box-shadow .3s ease,margin .25s ease
        }
        body #header-outer[data-transparent-header=true].transparent{
            transition:border-color .3s ease;
            -moz-transition:border-color .3s ease;
            -webkit-transition:border-color .3s ease
        }
        html body #header-outer[data-transparent-header=true].transparent{
            background-color:transparent!important;
            box-shadow:none!important;
            -webkit-box-shadow:none;
            -moz-box-shadow:none;
            -o-box-shadow:none;
            border-bottom:1px solid rgba(255,255,255,.25)!important
        }
        body #header-outer[data-transparent-header=true].transparent nav>ul>li>a{
            margin-bottom:-1px
        }
        #header-outer[data-transparent-header=true] #logo .starting-logo,#header-outer[data-transparent-header=true].transparent #logo img{
            opacity:0;
            -ms-filter:"alpha(opacity=0)"
        }
        #header-outer[data-transparent-header=true].transparent #logo .starting-logo{
            opacity:1;
            -ms-filter:"alpha(opacity=100)"
        }
        html body #header-outer[data-transparent-header=true][data-remove-border=true]{
            border:none!important
        }
        body #header-outer.transparent[data-transparent-header=true][data-remove-border=true]{
            transition:background-color .3s ease 0s,box-shadow .3s ease 0s,margin .25s ease;
            -webkit-transition:background-color .3s ease 0s,box-shadow .3s ease 0s,margin .25s ease;
            -o-transition:background-color .3s ease 0s,box-shadow .3s ease 0s,margin .25s ease
        }
        #header-outer[data-transparent-header=true].transparent>header #logo img.dark-version{
            opacity:0!important
        }
    }
    #header-outer .row .col.span_3,#header-outer .row .col.span_9{
        width:auto
    }
    #header-outer .row .col.span_9{
        float:right
    }
    #header-outer[data-full-width=true] header>.container{
        width:100%;
        max-width:100%;
        padding:0 28px
    }
    .row .col img{
        margin-bottom:15px;
        max-width:100%;
        height:auto
    }
    #mobile-menu{
        position:relative;
        top:0;
        display:none;
        background-color:#1f1f1f;
        padding:0;
        z-index:100000
    }
    #mobile-menu .container>ul>li:first-child{
        padding-top:10px
    }
    #mobile-menu .container>ul>li:last-child{
        padding-bottom:10px
    }
    #mobile-menu ul li a{
        border-bottom:1px dotted rgba(255,255,255,.2);
        color:rgba(255,255,255,.6);
        font-size:12px;
        display:block;
        position:relative;
        padding:16px 0!important
    }
    #mobile-menu ul li a:hover,#mobile-menu ul li.current-menu-item>a{
        color:#fff
    }
    #mobile-menu #mobile-search{
        margin:10px 0 0
    }
    #mobile-menu input[type=text]{
        margin-top:15px;
        margin-bottom:15px;
        background-color:#171717;
        color:rgba(255,255,255,.7);
        padding:15px 15px 15px 40px!important;
        border:0!important;
        border-bottom:1px solid #2e2e2e!important;
        border-radius:2px;
        -moz-border-radius:2px;
        -o-border-radius:2px;
        -webkit-border-radius:2px 2px 2px 2px;
        box-shadow:0 1px 3px rgba(0,0,0,.7) inset;
        -moz-box-shadow:0 1px 3px rgba(0,0,0,.7) inset;
        -webkit-box-shadow:0 1px 3px rgba(0,0,0,.7) inset;
        -o-box-shadow:0 1px 3px rgba(0,0,0,.7) inset;
        background-image:url(https://microprofile.io/wp-content/themes/salient/img/icons/mag-glass-mobile.png);
        background-repeat:no-repeat;
        background-position:15px center
    }
    #to-top,.full-width-section>.col.span_12.light,.light h1{
        color:#fff
    }
    @media only screen and (-o-min-device-pixel-ratio:3/2),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi){
        #mobile-menu input[type=text]{
            background-size:14px 14px;
            background-image:url(https://microprofile.io/wp-content/themes/salient/img/icons/mag-glass-mobile@2x.png)!important
        }
    }
    body[data-hhun="1"] #header-outer:not(.parallax-contained){
        position:absolute
    }
    @media only screen and (min-width:1000px){
        body[data-hhun="1"]:not(.no-scroll) #header-outer:not(.detached):not(.parallax-contained):not(.at-top-before-box){
            top:0!important
        }
    }
    #to-top i,.wpb_row>.span_12{
        z-index:10
    }
    .wpb_row .span_12>.col.padding-1-percent{
        padding:1%
    }
    body[data-button-style^=rounded] #to-top,body[data-button-style^=rounded] header#top nav>ul>li[class*=button_solid_color]>a:before{
        border-radius:200px!important;
        -webkit-border-radius:200px!important;
        -o-border-radius:200px!important;
        box-shadow:none;
        -ms-transition:opacity .45s cubic-bezier(.25,1,.33,1),transform .45s cubic-bezier(.25,1,.33,1),border-color .45s cubic-bezier(.25,1,.33,1),color .45s cubic-bezier(.25,1,.33,1),background-color .45s cubic-bezier(.25,1,.33,1),box-shadow .45s cubic-bezier(.25,1,.33,1);
        -webkit-transition:opacity .45s cubic-bezier(.25,1,.33,1),transform .45s cubic-bezier(.25,1,.33,1),border-color .45s cubic-bezier(.25,1,.33,1),color .45s cubic-bezier(.25,1,.33,1),background-color .45s cubic-bezier(.25,1,.33,1),box-shadow .45s cubic-bezier(.25,1,.33,1);
        transition:opacity .45s cubic-bezier(.25,1,.33,1),transform .45s cubic-bezier(.25,1,.33,1),border-color .45s cubic-bezier(.25,1,.33,1),color .45s cubic-bezier(.25,1,.33,1),background-color .45s cubic-bezier(.25,1,.33,1),box-shadow .45s cubic-bezier(.25,1,.33,1)
    }
    .sf-menu{
        margin-bottom:30px;
        line-height:1
    }
    .sf-menu,.sf-menu *{
        list-style:none;
        margin:0;
        padding:0;
        z-index:10
    }
    .sf-menu li:hover{
        visibility:inherit
    }
    .sf-menu li{
        float:left;
        line-height:0!important;
        font-size:12px!important;
        position:relative
    }
    .sf-menu a{
        display:block;
        position:relative;
        margin:0 1px;
        padding:.75em 1em 32px
    }
    .sf-menu{
        float:right
    }
    #header-outer[data-transparent-header=true] #logo .dark-version{
        position:absolute
    }
    #footer-outer .widget.widget_media_image img{
        margin-bottom:0
    }
    .wpb_row>.span_12,.wpb_row>.span_12>.column_container:last-child{
        margin-bottom:0!important
    }
    #to-top{
        display:block;
        position:fixed;
        line-height:12px!important;
        right:17px;
        bottom:-30px;
        cursor:pointer;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        -o-border-radius:2px;
        z-index:9994;
        height:29px;
        width:29px;
        background-color:rgba(0,0,0,.25);
        background-repeat:no-repeat;
        transition:background-color .1s linear;
        -moz-transition:background-color .1s linear;
        -webkit-transition:background-color .1s linear;
        -o-transition:background-color .1s linear
    }
    body[data-button-style*=rounded] #to-top{
        transition:box-shadow .3s cubic-bezier(.55,0,.1,1),background-color .1s linear;
        -webkit-transition:-webkit-box-shadow .3s cubic-bezier(.55,0,.1,1),background-color .1s linear;
        -moz-transition:-moz-box-shadow .3s cubic-bezier(.55,0,.1,1),background-color .1s linear;
        background-color:rgba(0,0,0,.25)!important;
        overflow:hidden
    }
    body[data-button-style*=rounded] #to-top.dark:hover,body[data-button-style*=rounded] #to-top:hover{
        transition:box-shadow .3s cubic-bezier(.55,0,.1,1),background-color 50ms linear .25s;
        -webkit-transition:-webkit-box-shadow .3s cubic-bezier(.55,0,.1,1),background-color 50ms linear .25s;
        -moz-transition:-moz-box-shadow .3s cubic-bezier(.55,0,.1,1),background-color 50ms linear .25s;
        box-shadow:1px 2px 3px rgba(0,0,0,.16)!important;
        background-color:transparent!important
    }
    body[data-button-style*=rounded] #to-top:after,body[data-button-style*=rounded] #to-top:before{
        display:block;
        content:" ";
        height:100%;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        background-color:#000;
        transform:scale(0);
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
        transition:all .3s cubic-bezier(.55,0,.1,1);
        -webkit-transition:all .3s cubic-bezier(.55,0,.1,1);
        -moz-transition:all .3s cubic-bezier(.55,0,.1,1);
        border-radius:100px;
        -webkit-border-radius:100px
    }
    #to-top i,.full-width-section,.wpb_row{
        position:relative
    }
    body[data-button-style*=rounded] #to-top:before{
        background-color:rgba(255,255,255,.25);
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        transition:all .5s cubic-bezier(.165,.84,.44,1);
        -webkit-transition:all .5s cubic-bezier(.165,.84,.44,1);
        -moz-transition:all .5s cubic-bezier(.165,.84,.44,1);
        opacity:0;
        z-index:2
    }
    .lines-button:hover,body[data-button-style*=rounded] #to-top:active:before{
        opacity:1
    }
    body[data-button-style*=rounded] #to-top:hover:after{
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1)
    }
    body[data-button-style*=rounded] #to-top i.fa-angle-up,body[data-button-style*=rounded] #to-top i.fa-angle-up.top-icon{
        -webkit-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0);
        transition:transform .2s ease;
        -webkit-transition:transform .2s ease;
        -moz-transition:transform .2s ease
    }
    body[data-button-style*=rounded] #to-top:hover i.fa-angle-up,body[data-button-style*=rounded] #to-top:hover i.fa-angle-up.top-icon{
        -webkit-transform:translate(0,-29px)!important;
        -ms-transform:translate(0,-29px)!important;
        transform:translate(0,-29px)!important
    }
    #to-top i{
        line-height:29px!important;
        width:29px!important;
        height:29px!important;
        font-size:14px!important;
        top:0!important;
        left:0!important;
        text-align:center!important
    }
    #to-top.dark:hover,#to-top:hover{
        background-color:#27cfc3
    }
    #to-top.dark{
        background-color:rgba(0,0,0,.87)
    }
    i[class*=fa-]{
        display:inline-block;
        font-size:16px;
        width:32px;
        height:32px;
        line-height:32px;
        top:-2px;
        word-spacing:1px;
        position:relative;
        text-align:center;
        vertical-align:middle;
        max-width:100%
    }
    .full-width-section{
        background-size:cover;
        -moz-background-size:cover;
        -webkit-background-size:cover;
        box-sizing:content-box!important;
        -moz-box-sizing:content-box!important;
        -webkit-box-sizing:content-box!important;
        width:100%
    }
    .full-width-section .row-bg,.wpb_row .row-bg{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-size:cover;
        -moz-background-size:cover;
        -webkit-background-size:cover
    }
    .wpb_row.full-width-section{
        margin-bottom:0
    }
    .full-width-section>.span_12 .col>div:not(.boxed):not([data-border-width*=px]):not([data-has-bg-color=true]):not([data-using-bg=true]):last-child,.full-width-section>.span_12>div:last-child{
        padding-bottom:0
    }
    .full-width-section.parallax_section .row-bg,.wpb_row.parallax_section .row-bg{
        background-attachment:fixed
    }
    body .full-width-section.parallax_section .row-bg.translate,body .wpb_row.parallax_section .row-bg.translate{
        background-attachment:scroll;
        top:auto;
        bottom:0
    }
    body .full-width-section.parallax_section .row-bg,body .wpb_row.parallax_section .row-bg{
        background-attachment:fixed
    }
    @media only screen and (min-width:1000px){
        body:not([data-header-format=left-header]) .parallax_section.top-level .row-bg[data-parallax-speed=medium]:not([data-parallax-speed=fixed]){
            height:calc(100% + 70px)
        }
    }
    @media only screen and (max-width:1000px){
        body .parallax_section.top-level .row-bg:not([data-parallax-speed=fixed]){
            height:calc(100% + 40px)
        }
    }
    .full-width-section.parallax_section .row-bg-wrap,.wpb_row .row-bg-wrap .inner-wrap,.wpb_row.parallax_section .row-bg-wrap{
        overflow:hidden;
        width:100.1%;
        height:100.1%;
        position:absolute;
        z-index:1;
        top:0;
        left:0
    }
    .full-width-section .row-bg-wrap,.wpb_row .row-bg-wrap{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0
    }
    .wpb_row .row-bg-wrap .inner-wrap{
        height:100%
    }
    .full-width-section.parallax_section .row-bg,.wpb_row.parallax_section .row-bg{
        position:absolute;
        z-index:1;
        top:0;
        left:0;
        background-size:cover;
        -moz-background-size:cover;
        -webkit-background-size:cover
    }
    #footer-outer,.lines,.lines-button{
        position:relative
    }
    .full-width-section>.col.span_12{
        float:none!important
    }
    #footer-outer #copyright li a i:hover,#footer-outer a:hover{
        color:#27cfc3
    }
    #footer-outer{
        color:#ccc;
        z-index:10;
        background-color:#252525
    }
    #footer-outer .row{
        padding:55px 0;
        margin-bottom:0
    }
    #footer-outer .widget{
        margin-bottom:30px
    }
    #footer-outer #copyright .container div:last-child,#footer-outer .span_3 .widget:last-child{
        margin-bottom:0
    }
    #footer-outer a{
        color:#ccc
    }
    #footer-outer #copyright{
        padding:20px 0;
        font-size:12px;
        background-color:#1c1c1c;
        color:#777
    }
    #footer-outer #copyright li{
        float:left;
        margin-left:20px
    }
    #footer-outer #copyright li a{
        display:block;
        line-height:22px;
        height:24px;
        position:relative;
        transition:all .2s linear;
        -moz-transition:all .2s linear;
        -webkit-transition:all .2s linear;
        background-position:center top
    }
    #footer-outer #copyright li a i{
        color:#777;
        transition:all .2s linear;
        -moz-transition:all .2s linear;
        -webkit-transition:all .2s linear
    }
    .lines,.lines-button,.lines:after,.lines:before{
        display:block;
        transition:.3s
    }
    #footer-outer #copyright p{
        line-height:22px;
        margin-top:3px
    }
    #footer-outer #copyright .col ul{
        float:right
    }
    #footer-outer i{
        font-size:20px;
        width:auto;
        background-color:transparent!important
    }
    @media only screen and (min-width:1000px){
        #footer-widgets[data-cols="5"] .container .row>div{
            width:19.5%
        }
        #footer-widgets[data-cols="5"] .container .row>div:first-child{
            width:35%
        }
    }
    #footer-widgets[data-cols="5"] .container .row .widget{
        font-size:14px;
        line-height:24px
    }
    #footer-outer .col{
        z-index:10;
        min-height:1px
    }
    .lines-button{
        cursor:pointer;
        line-height:0!important;
        top:9px;
        font-size:0!important;
        user-select:none
    }
    .lines{
        width:1.4rem;
        height:3px;
        background-color:#ecf0f1
    }
    .lines:after,.lines:before{
        width:1.4rem;
        height:3px;
        background:#ecf0f1;
        position:absolute;
        left:0;
        content:"";
        -webkit-transform-origin:.142rem center;
        transform-origin:.142rem center
    }
    .lines:before{
        top:6px
    }
    .lines:after{
        top:-6px
    }
    .slide-out-widget-area-toggle[data-icon-animation=simple-transform] .lines-button:after{
        background-color:rgba(0,0,0,.4);
        display:inline-block;
        width:1.4rem;
        height:2px;
        transition:transform .45s ease,opacity .2s ease,background-color .2s linear;
        -webkit-transition:-webkit-transform .45s ease,opacity .2s ease,background-color .2s ease;
        position:absolute;
        left:0;
        top:0;
        content:"";
        transform:scale(1,1);
        -webkit-transform:scale(1,1)
    }
    .slide-out-widget-area-toggle.mobile-icon .lines-button.x2 .lines:after,.slide-out-widget-area-toggle.mobile-icon .lines-button.x2 .lines:before,.slide-out-widget-area-toggle[data-icon-animation=simple-transform].mobile-icon .lines-button:after{
        background-color:#999
    }
    body #header-outer .lines-button{
        top:9px!important
    }
    .slide-out-widget-area-toggle[data-icon-animation=simple-transform].mobile-icon .lines-button:after{
        top:0!important
    }
    .slide-out-widget-area-toggle[data-icon-animation=simple-transform] .lines-button.x2 .lines:after,.slide-out-widget-area-toggle[data-icon-animation=simple-transform] .lines-button.x2 .lines:before{
        -webkit-transition:-webkit-transform .45s ease,background-color .2s ease,opacity .2s ease;
        transition:transform .45s ease,background-color .2s ease,opacity .2s ease
    }
    .slide-out-widget-area-toggle[data-icon-animation=simple-transform].mobile-icon .lines{
        background-color:transparent!important
    }
    .slide-out-widget-area-toggle.mobile-icon .lines-button:after,.slide-out-widget-area-toggle.mobile-icon .lines:after,.slide-out-widget-area-toggle.mobile-icon .lines:before{
        height:2px!important;
        width:22px!important
    }
    .lines-button.x2 .lines{
        transition:background .2s ease,opacity .2s ease
    }
    .lines-button.x2 .lines:after,.lines-button.x2 .lines:before{
        -webkit-transform-origin:50% 50%;
        transform-origin:50% 50%;
        -webkit-transition:top .4s .45s ease,-webkit-transform .3s ease,background-color .2s ease,opacity .2s ease;
        transition:top .4s .45s ease,transform .3s ease,background-color .2s ease,opacity .2s ease
    }
    .slide-out-widget-area-toggle a>span{
        -webkit-transition:-webkit-transform .33s .3s ease-in;
        transition:transform .33s .3s ease-in;
        -webkit-transform-origin:center;
        transform-origin:center;
        display:block;
        height:21px
    }
    .slide-out-widget-area-toggle.mobile-icon a>span{
        height:20px
    }
    .slide-out-widget-area-toggle .closed>span{
        -webkit-transition:-webkit-transform .33s 0s ease;
        transition:transform .33s 0s ease
    }
    #footer-outer #footer-widgets .col p{
        padding-bottom:20px
    }
    #footer-outer #footer-widgets .col p:last-child{
        padding-bottom:0
    }
    input[type=text]{
        padding:10px;
        width:100%;
        font-size:14px;
        font-family:inherit;
        line-height:24px;
        color:#555;
        background-color:#f1f1f1;
        border:none;
        transition:all .2s ease;
        -webkit-transition:all .2s ease
    }
    .col,.container,.row{
        position:relative
    }
    *{
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box
    }
    .container{
        margin:0 auto;
        max-width:880px
    }
    .row{
        padding-bottom:24px
    }
    .col:after,.row:after{
        content:"";
        display:block;
        height:0;
        clear:both;
        visibility:hidden
    }
    .col{
        display:block;
        float:left;
        width:100%
    }
    @media (min-width:690px){
        .col{
            margin-right:2%
        }
        .wpb_column{
            margin-right:0
        }
        .span_3{
            width:23.5%
        }
        .span_5{
            width:40.5%
        }
        .span_7{
            width:57.5%
        }
        .span_9{
            width:74.5%
        }
        .span_12{
            width:100%
        }
    }
    .col.col_last,.col:last-child{
        margin-right:0
    }
    .wpb_column .column-bg-overlay,.wpb_row .row-bg-wrap .row-bg-overlay{
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        content:" ";
        display:block
    }
    .wpb_row .row-bg-wrap .row-bg-overlay{
        z-index:2;
        backface-visibility:hidden
    }
    .wpb_column .column-bg-overlay{
        pointer-events:none;
        z-index:0;
        opacity:0;
        transition:background-color .45s cubic-bezier(.25,1,.33,1),opacity .45s cubic-bezier(.25,1,.33,1);
        -webkit-transition:background-color .45s cubic-bezier(.25,1,.33,1),opacity .45s cubic-bezier(.25,1,.33,1)
    }
    @media only screen and (min-width:1300px){
        .container{
            max-width:1100px
        }
    }
    @media only screen and (min-width:1000px) and (max-width:1300px){
        header#top nav>ul>li>a{
            padding-left:8px
        }
    }
    @media only screen and (min-device-width:481px) and (max-device-width:1025px) and (orientation:landscape){
        #header-outer[data-lhe=animated_underline] header#top nav>ul>li:not([class*=button_])>a:hover:after{
            display:none
        }
        #to-top{
            display:none!important
        }
        .full-width-section.parallax_section{
            background-attachment:scroll!important;
            background-position:center!important
        }
    }
    @media only screen and (min-width:690px) and (max-width:1000px){
        .span_12,.span_3,.span_5,.span_7,.span_9{
            width:100%;
            margin-left:0
        }
        .col,body .vc_row-fluid .wpb_column{
            margin-bottom:25px
        }
        body .vc_row-fluid .vc_col-sm-2,body .vc_row-fluid .vc_col-sm-8,body .vc_row-fluid .wpb_column{
            width:100%;
            margin-right:0!important;
            margin-left:0
        }
        body .vc_row-fluid .vc_col-sm-2{
            width:31.2%;
            margin-left:3.1%
        }
        .vc_row-fluid .vc_col-sm-2[class*=vc_col-sm-]:first-child:not([class*=offset]){
            margin-left:0
        }
        .container{
            max-width:600px
        }
        .one-fourths.span_3{
            width:48%!important;
            margin-bottom:2%;
            margin-right:15px;
            margin-left:0!important;
            padding:15px;
            float:left
        }
        #footer-widgets .container .row>div.col_last,#footer-widgets .container .row>div:last-child,.one-fourths.span_3.right-edge{
            margin-right:0
        }
        .one-fourths.span_3.clear-both{
            clear:both
        }
        #footer-outer #copyright .col{
            width:49%;
            margin-bottom:0
        }
        #footer-widgets .container .col{
            margin-left:15px;
            width:48%
        }
    }
    @media only screen and (max-width:690px){
        .vc_row-fluid [class*=vc_col-]{
            width:100%
        }
        body .vc_row-fluid .wpb_column{
            width:100%;
            margin-right:0!important;
            margin-left:0;
            margin-bottom:25px
        }
        body .vc_row-fluid .vc_col-sm-2{
            width:48%;
            margin-left:4%
        }
        .vc_row-fluid .vc_col-sm-2[class*=vc_col-sm-]:first-child:not([class*=offset]),.vc_row-fluid .vc_col-sm-2[class*=vc_col-sm-]:nth-child(2n+3):not([class*=offset]),body #footer-outer #copyright .col ul li:first-child{
            margin-left:0
        }
        .container{
            max-width:320px!important
        }
        body #header-outer[data-full-width=true] header>.container{
            max-width:100%!important;
            padding:0 18px!important
        }
        .col{
            margin-bottom:25px
        }
        #header-outer .col{
            margin-bottom:0
        }
        body #footer-outer #copyright .col ul{
            float:left
        }
        #header-outer[data-full-width=true] header>.container{
            padding-left:0!important;
            padding-right:0!important;
            padding:0
        }
        #footer-widgets .container .col:nth-child(3){
            margin-bottom:40px!important
        }
    }
    @media only screen and (max-width:321px){
        .container{
            max-width:300px!important
        }
    }
    @media only screen and (min-width:480px) and (max-width:690px){
        body .container{
            max-width:420px!important
        }
        #header-outer[data-full-width=true] header>.container{
            max-width:100%!important;
            padding:0 28px!important
        }
    }
    @media only screen and (min-width:1px) and (max-width:1000px){
        #header-outer,.full-width-section>.col.span_12{
            margin-bottom:0
        }
        .full-width-section.parallax_section{
            background-attachment:scroll!important;
            background-position:center!important
        }
        .wpb_row.parallax_section .row-bg.using-image{
            backface-visibility:hidden;
            -webkit-backface-visibility:hidden
        }
        .full-width-section{
            margin-top:0!important
        }
        body:not(.material) header#top #logo{
            margin-top:7px!important
        }
        html body #header-outer[data-transparent-header=true][data-remove-border=true]{
            border:none!important
        }
        .container-wrap{
            z-index:11
        }
        #header-outer[data-permanent-transparent=false] #logo .dark-version,body header#top #logo img{
            height:24px!important;
            margin-top:-3px!important;
            top:3px;
            position:relative
        }
        html .admin-bar #header-outer{
            top:0
        }
        #header-outer{
            position:relative!important;
            padding-top:12px!important
        }
        #header-outer #logo{
            top:6px!important;
            left:6px!important
        }
        #header-space{
            display:none!important
        }
        header#top #toggle-nav,header#top .span_9>.slide-out-widget-area-toggle{
            display:block!important
        }
        header#top .col.span_3{
            position:absolute;
            left:0;
            top:0;
            z-index:1000;
            width:85%!important
        }
        header#top .col.span_9{
            margin-left:0;
            min-height:48px;
            margin-bottom:0;
            width:100%!important;
            float:none;
            z-index:100;
            position:relative
        }
        body #header-outer .slide-out-widget-area-toggle .lines,body #header-outer .slide-out-widget-area-toggle .lines-button,body #header-outer .slide-out-widget-area-toggle .lines:after,body #header-outer .slide-out-widget-area-toggle .lines:before{
            width:22px!important
        }
        body #header-outer .slide-out-widget-area-toggle[data-icon-animation=simple-transform].mobile-icon .lines:after{
            top:-6px!important
        }
        body #header-outer .slide-out-widget-area-toggle[data-icon-animation=simple-transform].mobile-icon .lines:before{
            top:6px!important
        }
        #header-outer header#top nav>ul{
            width:100%;
            padding:15px 0 25px!important;
            margin:0 auto!important;
            float:none!important;
            z-index:100000;
            position:relative;
            overflow:hidden!important
        }
        #header-outer header#top nav{
            background-color:#1f1f1f;
            margin-left:-250px!important;
            margin-right:-250px!important;
            padding:0 250px;
            top:48px;
            margin-bottom:75px;
            display:none!important;
            position:relative;
            z-index:100000
        }
        header#top nav>ul li{
            display:block;
            width:100%;
            float:none!important;
            margin-left:0!important
        }
        header#top .sf-menu a{
            color:rgba(255,255,255,.6)!important;
            font-size:12px;
            border-bottom:1px dotted rgba(255,255,255,.3);
            padding:16px 0!important;
            background-color:transparent!important
        }
        #header-outer #top nav ul li a:hover,#header-outer header#top nav .sf-menu li.current_page_item>a{
            color:#27cfc3
        }
        header#top nav .sf-menu li.current_page_item>a,header#top nav ul li a:hover{
            color:#fff!important
        }
        header#top nav>ul>li>a{
            padding:16px 0!important;
            border-bottom:1px solid #ddd
        }
        #header-outer:not([data-permanent-transparent="1"]),header#top{
            height:auto!important
        }
        #footer-widgets .container .col{
            margin-bottom:40px
        }
        #footer-widgets .container .col:nth-child(3),#footer-widgets .container .col:nth-child(4){
            margin-bottom:0
        }
        .main-content>div{
            padding-bottom:0
        }
        #footer-widgets .container .row>div:last-child{
            margin-bottom:0!important
        }
    }
    @media screen and (max-width:782px){
        body{
            position:static
        }
    }
    @media only screen and (min-width:1600px){
        body:after{
            content:"five";
            display:none
        }
    }
    @media only screen and (min-width:1300px) and (max-width:1600px){
        body:after{
            content:"four";
            display:none
        }
    }
    @media only screen and (min-width:990px) and (max-width:1300px){
        body:after{
            content:"three";
            display:none
        }
    }
    @media only screen and (min-width:470px) and (max-width:990px){
        body:after{
            content:"two";
            display:none
        }
    }
    @media only screen and (max-width:470px){
        body:after{
            content:"one";
            display:none
        }
    }
    body .full-width-section{
        visibility:visible
    }
    body .full-width-section .row-bg-wrap,body .full-width-section.parallax_section .row-bg-wrap{
        margin-left:-50vw;
        left:50%;
        width:100vw
    }
    .ascend .container-wrap{
        background-color:#f6f6f6
    }
    .ascend #footer-outer #copyright{
        border-top:1px solid rgba(255,255,255,.1);
        background-color:transparent
    }
    .ascend{
        background-color:#252525
    }
    #to-top{
        border-radius:0!important;
        box-shadow:none
    }
    .container:after,.container:before,.row:after,.row:before,.vc_row:after,.vc_row:before{
        content:" ";
        display:table
    }
    .container:after,.row:after,.vc_column-inner::after,.vc_row-fluid::after,.vc_row:after{
        clear:both
    }
    .vc_row-fluid::after,.vc_row-fluid::before{
        content:"";
        display:table
    }
    .vc_col-sm-2,.vc_col-sm-8{
        position:relative;
        min-height:1px;
        margin-left:2.1%;
        box-sizing:border-box
    }
    .vc_row-fluid [class*=vc_col-]:first-child:not([class*=offset]){
        margin-left:0
    }
    @media (min-width:1000px){
        .vc_col-sm-2,.vc_col-sm-8{
            float:left
        }
        body .vc_row-fluid .vc_col-sm-8{
            width:65.95744680199999%
        }
        body .vc_row-fluid .vc_col-sm-2{
            width:14.89361702%
        }
    }
}
body a{
    color:#fdb71c
}
#footer-outer #copyright li a i:hover,#footer-outer a:hover,header#top #logo:hover{
    color:#fdb71c!important
}
#header-outer.transparent header#top nav>ul>li.button_solid_color>a:before,#to-top.dark:hover,#to-top:hover,body[data-button-style*=rounded] #to-top:after,header#top nav>ul>li.button_solid_color>a:before{
    background-color:#fdb71c!important
}
#header-space,body #header-outer,html .ascend .container-wrap,html .container-wrap{
    background-color:#fff
}
#header-outer[data-lhe=animated_underline] header#top nav>ul>li>a:after{
    border-color:#efc94c!important
}
body h1,html body{
    color:#333
}
body #header-outer{
    background-color:rgba(255,255,255,.26)
}
header#top #logo,header#top #toggle-nav i,header#top .span_9>.slide-out-widget-area-toggle i,header#top nav>ul>li>a{
    color:#000!important
}
header#top .slide-out-widget-area-toggle.mobile-icon .lines-button.x2 .lines:after,header#top .slide-out-widget-area-toggle.mobile-icon .lines-button.x2 .lines:before,header#top .slide-out-widget-area-toggle[data-icon-animation=simple-transform].mobile-icon .lines-button:after{
    background-color:#000!important
}
body .sf-menu>li:hover>a,header#top #logo:hover{
    color:#efc94c!important
}
#footer-outer,#footer-outer #copyright li a i,#footer-outer #copyright p,#footer-outer a:not(.nectar-button){
    color:#fff!important
}
#footer-outer{
    background-color:#1d2f42!important
}
#footer-outer #footer-widgets{
    border-bottom:none!important
}
#footer-outer #copyright,body{
    border:none!important;
    background-color:#0e1421!important
}
#footer-outer #copyright li a:hover i{
    border-color:#efc94c!important;
    color:#efc94c!important
}
#footer-outer #copyright{
    border-top:1px solid rgba(255,255,255,.18)!important
}
body:not(.material) #header-outer{
    padding-top:30px
}
#header-outer #logo img{
    height:50px
}
.ascend #header-outer[data-full-width=true] header#top nav>ul.buttons{
    margin-top:-30px
}
body:not(.material) header#top nav>ul>li:not(#social-in-menu)>a{
    padding-bottom:44px;
    padding-top:14px
}
#header-outer[data-lhe=animated_underline] header#top nav>ul>li>a,#header-outer[data-lhe=animated_underline] header#top nav>ul>li[class*=button_solid_color]>a,body #header-outer.transparent header#top nav>ul>li[class*=button_solid_color]>a,header#top nav>ul>li[class*=button_solid_color]>a{
    margin-left:20px;
    margin-right:20px
}
#header-space{
    height:110px
}
@media only screen and (max-width:1000px){
    body:not(.material) #header-space{
        height:62px
    }
    #header-outer[data-permanent-transparent=false] #logo .dark-version,body header#top #logo img{
        height:24px!important
    }
    body:not(.material) header#top .col.span_9{
        min-height:50px;
        line-height:28px
    }
}
#mobile-menu #mobile-search{
    display:none!important
}
#header-outer.transparent header#top #logo,#header-outer.transparent header#top #logo:hover{
    color:#fff!important
}
#header-outer.transparent header#top nav>ul>li>a{
    color:#fff!important;
    opacity:.75!important;
    transition:opacity .2s ease,color .2s ease
}
#header-outer.transparent header#top nav .sf-menu>li.current-menu-item>a{
    opacity:1!important;
    color:#fff!important
}
#header-outer.transparent[data-lhe=animated_underline] header#top nav .sf-menu>li.current_page_item>a,#header-outer.transparent[data-lhe=animated_underline] header#top nav>ul>li>a:hover{
    opacity:1!important
}
#header-outer[data-lhe=animated_underline].transparent header#top nav>ul>li>a:after{
    border-color:#fff!important
}
@media only screen and (min-width:1000px){
    #header-space{
        display:none
    }
    .full-width-section.first-section{
        margin-top:0!important
    }
    .container{
        width:100%;
        margin:0 auto;
        padding:0 90px;
        max-width:1500px
    }
}
body{
    font-family:Lato;
    font-size:18px;
    line-height:32px;
    font-weight:400
}
header#top nav>ul>li>a{
    font-family:Nunito;
    text-transform:capitalize;
    letter-spacing:0;
    font-size:15px;
    line-height:21px
}
#header-outer.transparent header#top nav>ul>li[class*=button_solid_color]>a:before,header#top nav>ul>li[class*=button_solid_color]>a:before{
    height:26px
}
@media only screen and (min-width:1px) and (max-width:1000px){
    header#top .sf-menu a{
        font-family:Nunito!important;
        font-size:14px!important
    }
}
body h1,body i{
    font-family:Nunito;
    font-weight:400
}
body h1{
    text-transform:none;
    letter-spacing:.2px;
    font-size:50px;
    line-height:48px
}
@media only screen and (max-width:1300px) and (min-width:1000px){
    body h1{
        font-size:37.5px;
        line-height:36px
    }
}
@media only screen and (max-width:1000px) and (min-width:690px){
    body h1{
        font-size:35px;
        line-height:33.6px
    }
    .wpb_wrapper h1.vc_custom_heading{
        font-size:35px!important;
        line-height:33.6px!important
    }
}
@media only screen and (max-width:690px){
    body h1{
        font-size:32.5px;
        line-height:31.2px
    }
    .wpb_wrapper h1.vc_custom_heading{
        font-size:32.5px!important;
        line-height:31.2px!important
    }
}
body i{
    font-size:16px;
    line-height:22px;
    font-style:italic
}
@font-face{
    font-family:FontAwesome;
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/fontawesome-webfont.eot?v=4.2);
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/fontawesome-webfont.eot#iefix&v=4.2) format("embedded-opentype"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/fontawesome-webfont.svg#fontawesomeregular?v=4.2) format("svg"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/fontawesome-webfont.woff?v=4.2) format("woff"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/fontawesome-webfont.ttf?v=4.2) format("truetype");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:open sans;
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Light-webfont.eot);
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Light-webfont.eot#iefix) format("embedded-opentype"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Light-webfont.woff) format("woff"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Light-webfont.ttf) format("truetype"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Light-webfont.svg#OpenSansLight) format("svg");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:open sans;
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Regular-webfont.eot);
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Regular-webfont.eot#iefix) format("embedded-opentype"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Regular-webfont.woff) format("woff"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Regular-webfont.ttf) format("truetype"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular) format("svg");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:open sans;
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Semibold-webfont.eot);
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Semibold-webfont.eot#iefix) format("embedded-opentype"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Semibold-webfont.woff) format("woff"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Semibold-webfont.ttf) format("truetype"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold) format("svg");
    font-weight:600;
    font-style:normal
}
@font-face{
    font-family:open sans;
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSansBold-webfont.eot);
    src:url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSansBold-webfont.eot#iefix) format("embedded-opentype"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSansBold-webfont.woff) format("woff"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSansBold-webfont.ttf) format("truetype"),url(https://microprofile.io/wp-content/themes/salient/css/fonts/OpenSansBold-webfont.svg#OpenSansBold) format("svg");
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:Lato;
    font-style:normal;
    font-weight:400;
    src:local("Lato Regular"),local("Lato-Regular"),url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
    unicode-range:U+0100-024f,U+0259,U+1-1eff,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+A720-A7FF
}
@font-face{
    font-family:Lato;
    font-style:normal;
    font-weight:400;
    src:local("Lato Regular"),local("Lato-Regular"),url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
    unicode-range:U+0000-00ff,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:Nunito;
    font-style:normal;
    font-weight:400;
    src:local("Nunito Regular"),local("Nunito-Regular"),url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
    unicode-range:U+0102-0103,U+0110-0111,U+1ea0-1ef9,U+20ab
}
@font-face{
    font-family:Nunito;
    font-style:normal;
    font-weight:400;
    src:local("Nunito Regular"),local("Nunito-Regular"),url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
    unicode-range:U+0100-024f,U+0259,U+1-1eff,U+2020,U+20a0-20ab,U+20ad-20cf,U+2113,U+2c60-2c7f,U+A720-A7FF
}
@font-face{
    font-family:Nunito;
    font-style:normal;
    font-weight:400;
    src:local("Nunito Regular"),local("Nunito-Regular"),url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
    unicode-range:U+0000-00ff,U+0131,U+0152-0153,U+02bb-02bc,U+02c6,U+02da,U+02dc,U+2000-206f,U+2074,U+20ac,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}



.lines-button.close {
    -webkit-transform: scale3d(.8,.8,.8);
    transform: scale3d(.8,.8,.8);
}
.slide-out-widget-area-toggle[data-icon-animation=simple-transform] .lines-button.close .lines:before {
    -webkit-transform: translateY(-6px) rotateZ(-45deg);
    -moz-transform: translateY(-6px) rotateZ(-45deg);
    -ms-transform: translateY(-6px) rotateZ(-45deg);
    -o-transform: translateY(-6px) rotateZ(-45deg);
    transform: translateY(-6px) rotateZ(-45deg)
}

.slide-out-widget-area-toggle[data-icon-animation=simple-transform] .lines-button.close .lines:after {
    -webkit-transform: translateY(6px) rotateZ(45deg);
    -moz-transform: translateY(6px) rotateZ(45deg);
    -ms-transform: translateY(6px) rotateZ(45deg);
    -o-transform: translateY(6px) rotateZ(45deg);
    transform: translateY(6px) rotateZ(45deg)
}
.slide-out-widget-area-toggle[data-icon-animation=simple-transform] .lines-button.close:after {
    transform: scale(0,1);
    -webkit-transform: scale(0,1);
}
